{% extends "base.html" %}

{% block title %}{{ body.name }}{% endblock %}

{% block content %}

<p>
    <a href="{% url 'system_list' %}">Systems</a> >
    <a href="{% url 'system_detail' body.system.pk %}">{{ body.system.name }}</a> >

    {% if body.parent_body %}
        <a href="{% url 'body_detail' body.parent_body.pk %}">{{ body.parent_body.name }}</a> >
    {% endif %}

    {{ body.name }}
</p>

<div class="page-header">
    <h1>{{ body.name }}</h1>

    {% include "galaxy/_action_panel.html" with actions=actions add_items=add_items %}
</div>

{% if body.notes %}
    <p>{{ body.notes }}</p>
{% endif %}

{% if moons %}
    <h2>Moons</h2>
    <ul>
        {% for moon in moons %}
            <li>
                <a href="{% url 'body_detail' moon.pk %}">{{ moon.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if spots %}
    <h2>Mining Spots</h2>
    <ul>
        {% for spot in spots %}
            <li>
                <a href="{% url 'mining_spot_detail' spot.pk %}">{{ spot.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if body.comments.all %}
    <h2>Comments</h2>
    <ul class="comment-list">
        {% for comment in body.comments.all %}
            <li class="comment-box">
                <p>{{ comment.text }}</p>
                <small>{{ comment.created_at }}</small>

                <div class="comment-actions">
                    <a href="{% url 'body_comment_edit' comment.pk %}"><button>Edit</button></a>
                    <a href="{% url 'body_comment_delete' comment.pk %}"><button class="delete">Delete</button></a>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endif %}

{% endblock %}
