{% extends "base.html" %}

{% block title %}
    {% if mode == "edit" %}Edit Mining Spot{% else %}Add Mining Spot{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if mode == "edit" %}
        Edit Mining Spot
    {% else %}
        Add Mining Spot
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ cancel_url }}">
    {{ form.as_p }}
    <div class="form-actions">
        <a href="{{ cancel_url }}" class="button-link btn-secondary">Cancel</a>
        <button type="submit" class="btn-primary">Save</button>
    </div>
</form>
{% endblock %}
