{% extends "base.html" %}

{% block title %}{{ spot.name }}{% endblock %}

{% block content %}
<p>
    <a href="{% url 'system_detail' spot.body.system.pk %}">{{ spot.body.system.name }}</a> >
    <a href="{% url 'body_detail' spot.body.pk %}">{{ spot.body.name }}</a> >
    {{ spot.name }}
</p>

<h1>{{ spot.name }}</h1>

<p><strong>Body:</strong>
    <a href="{% url 'body_detail' spot.body.pk %}">
        {{ spot.body.name }}
    </a>
</p>

{% if spot.notes %}
    <p>{{ spot.notes }}</p>
{% endif %}

{% if spot.materials.all %}
<h2>Materials</h2>
<ul>
    {% for material in spot.materials.all %}
        <li>{{ material.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
