{% extends "base.html" %}

{% block title %}{{ system.name }}{% endblock %}

{% block content %}
<a href="{% url 'system_edit' system.pk %}">
    <button>Edit System</button>
</a>

<a href="{% url 'system_delete' system.pk %}">
    <button class="delete">Delete System</button>
</a>
<p>
    <a href="{% url 'system_list' %}">Systems</a> >
    {{ system.name }}
</p>

<h1>{{ system.name }}</h1>

{% if system.notes %}
    <p>{{ system.notes }}</p>
{% endif %}

<h2>Celestial Bodies</h2>
<ul>
    {% for body in bodies %}
        <li>
            <a href="{% url 'body_detail' body.pk %}">{{ body.name }}</a>
        </li>
    {% empty %}
        <li>No bodies recorded.</li>
    {% endfor %}
</ul>
{% endblock %}
