{% extends "base.html" %}

{% block title %}{{ system.name }}{% endblock %}

{% block content %}

<p>
    <a href="{% url 'system_list' %}">Systems</a> >
    {{ system.name }}
</p>

<div class="page-header">
    <h1>{{ system.name }}</h1>

    {% include "galaxy/_action_panel.html" with actions=actions add_items=add_items %}
</div>

{% if system.notes %}
    <p>{{ system.notes }}</p>
{% endif %}

{% if bodies %}
    <h2>Celestial Bodies</h2>
    <ul>
        {% for body in bodies %}
            <li>
                <a href="{% url 'body_detail' body.pk %}">{{ body.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
